<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="PlusCondominios" value="Data Source=localhost\sqlexpress;Initial Catalog=PlusCondominios;User ID=sa;Password=plus@123"/>
  </appSettings>
</configuration>
