<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ModeloCamadas.BllTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="gerenciador50" value="Data Source=rao_fac_serv_29;Initial Catalog=Gerenciador5.0;User ID=alexandre.dutra;Password=matrix#2006"/>
    <add key="AcademicoEAD" value="Data Source=dbead01.coc.com.br\ead01;Initial Catalog=Academico;Persist Security Info=True;User ID=useracademico;Password=591latf@82p"/>
    <add key="GradeHoraria" value="Data Source=raovmserv39;Database=fpg;User ID=IntegracaoGrade;Password=49graDe82*;Trusted_connection=False;Connect Timeout=0;Pooling=false"/>
    <add key="Indicadores" value="source=Administrativo;initial catalog=Indicadores;persist security info=True;user id=usrintegracao;password=254klbui@11p;multipleactiveresultsets=True"/>
    <add key="ModeloCamadas" value="Data Source=RAOVMSERV44\DESENVOLVIMENTO;Initial Catalog=ModeloCamadas;User ID=userGerenciador50H;Password=userGerenciador#50H"/>
    <add key="Escolar" value="Data Source=rao_fac_serv_29; Initial Catalog=Escolar; persist security info=True; user id=usrRematricula; password=usr#rematricula;"/>
  </appSettings>
   <userSettings>
    <ModeloCamadas.BllTests.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>teste</value>
      </setting>
    </ModeloCamadas.BllTests.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
